.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  width: 23rem;
  height: max-content;
  background-color: #fff;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modalHeader {
  height: max-content;
  background: white;
}

.heading {
  margin: 0;
  font-weight: bolder;
  font-size: 1.3rem;
}

.sub-heading {
  color: darkgrey;
  font-size: 1rem;
}

/* .closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
} */

.caution {
  color: rgb(142, 137, 137);
}

.form-label {
  font-weight: 500;
}

.form-input {
  border-radius: 0.3rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  height: 2rem;
  border: 1px solid var(--grey-color);
  margin-top: 0.3rem;
  outline: none;
}

input:focus {
  border: 2px solid rgb(68, 129, 242);
}
